.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

.idea/
.vscode/
*.swp
*.swo

logs/
*.log
*.tmp
*.lock
.DS_Store

coverage.xml
.coverage
htmlcov/
.cache/
pytest_cache/
actual_output.json

build/
dist/
*.egg-info/
*.spec

asciinema.cast

tests/test_data/expected_output_json.txt
tests/test_data/expected_output_plain.txt
tests/test_data/expected_output_stylish.txt
